<% include ../partials/header %>

    <div class="row">
        <div class="col-md-3">
            <p class="lead">AI SONGS</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail" style="background: #232323;">
                <img class="image-responsive"src="<%= song.cover_image %>">
                <div class="caption-full">
                    <h4 class="pull-right" style="color: white;">$<%= song.price %></h4>
                    <h4><a><%= song.song %></a></h4>
                    <p style="color: white;">
                        <em>Sung By <%= song.artists %></em>
                        <p>
                            <audio controls><source src='<%= song.url %>'></audio>
                        </p>
                    </p>
                </div>
            </div>
            <div class="well" style="background: #212121;">
                <div class="text-right">
                    <a href="/songs/<%= song._id %>/comments/new" class="btn btn-success">Add new comment</a>
                </div>
                <hr>
                <% song.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12" style="color: white;">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%=moment(comment.createdat).fromNow() %></span>
                            <p style="color: white;"> <%= comment.text %></p>
                            <% if(currentuser && comment.author.id.equals(currentuser._id)){ %>
                             <a class="btn btn-xs btn-warning" 
                               href="/songs/<%= song._id %>/comments/<%=comment._id %>/edit">
                               Edit</a>
                             <form id="deleteform" method="post" action="/songs/<%= song._id %>/comments/<%=comment._id %>?_method=Delete">
                               <button class="btn btn-xs btn-danger">Delete</button>
                             </form> 
                            <% } %>  
                        </div>
                    </div> 
                <% }) %>
            </div>
        </div>
    </div>



<% include ../partials/footer %>